
#title_justify {
   
   margin-inline: 25px;

}
.cards{
  
  display: flex;
  display: flex;
  justify-content: space-between;

}
.card{
  border: 1px solid #212529;
}
.text {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 3em;
  font-weight: 700;
  color: #d4151fd8;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);

}
h1{
background-image: url(https://media.gettyimages.com/photos/damaged-grunge-background-picture-id1175164865?s=612x612);
color: white;

}